<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>账户修改</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">姓名<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$_res.name}">
                <input type="hidden" class="text input-large" name="is_eidt" value="1">
                <input type="hidden" class="text input-large" name="id" value="{$_res.id}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">重置密码</label>
            <div class="controls">
                <input type="password" class="text input-large" name="password" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">重复密码</label>
            <div class="controls">
                <input type="password" class="text input-large" name="repassword" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">质押比例<span class="check-tips">（单位：倍）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="pledge" value="{$_res.pledge}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">利率<span class="check-tips">（单位：毫/天）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="rate" value="{$_res.rate}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">佣金费率 <span class="check-tips">（单位：‰）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="yongjin_rate" value="{$_res.yongjin_rate}">
            </div>
        </div>
        <!--div class="form-item">
            <label class="item-label">资金预警<span class="check-tips">（单位：％）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="capital_waring" value="{$_res.capital_waring}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">账户平仓<span class="check-tips">（单位：％）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="flat" value="{$_res.flat}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">收过户费<span class="check-tips">（单位：元/千股）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="transfer"  value="{$_res.transfer}">
            </div>
        </div>
        <div class="form-item">
            <span class="item-label" style="display: inline;">月底返息:</span>
            <span class="controls">
                是<input type="radio" name="return_rate" value="1" <if condition="($_res['return_rate'] eq 1)">checked="true"</if> >&nbsp;
                否 <input type="radio" name="return_rate" value="2"  <if condition="($_res['return_rate'] eq 2)">checked="true"</if>>
            </span>
        </div>
        <div class="form-item">
            <span class="item-label" style="display: inline;">收手续费:</span>
            <span class="controls">
                是<input type="radio" name="hand_cost" value="1"  <if condition="($_res['hand_cost'] eq 1)">checked="true"</if>>&nbsp;
                否 <input type="radio" name="hand_cost" value="2"  <if condition="($_res['hand_cost'] eq 2)">checked="true"</if>>
            </span>
        </div-->
        <div class="form-item">
            <label class="item-label">营业部</label>
            <div class="controls">
                <select name="sales_id" id="">
                    <volist name="_sales_list" id="sa">
                        <option value="{$sa.id}" <if condition="($_res['sales_id'] eq $sa['id'])">selected='selected'</if>>{$sa.title}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">业务员</label>
            <div class="controls">
                <select name="member_id" id="">
                    <volist name="_member_list" id="me">
                        <option value="{$me.uid}" <if condition="$_res['member_id'] eq $me['uid']">selected='selected'</if>>{$me.nickname}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">身份证号码</label>
            <div class="controls">
                <input type="text" class="text input-large" name="body_card" value="{$_res.body_card}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">手机号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="telephone" value="{$_res.telephone}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">手机号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="telephone2" value="{$_res.telephone2}">
            </div>
        </div>
        <div class="form-item">
            <span class="item-label" style="display: inline;">性别:</span>
            <span class="controls">
                男<input type="radio" name="sex" value="1" <if condition="($_res['sex'] eq 1)">checked="true"</if> >&nbsp;
                女<input type="radio" name="sex" value="2" <if condition="($_res['sex'] eq 2)">checked="true"</if> >
            </span>
        </div>
        <!--div class="form-item">
            <label class="item-label">电话</label>
            <div class="controls">
                <input type="text" class="text input-large" name="phone" value="{$_res.phone}">
            </div>
        </div-->
        <div class="form-item">
            <label class="item-label">状态</label>
            <div class="controls">
                <select name="status" id="">
                    <option value="1" <if condition="($_res.status eq 1)">selected='selected'</if>>开启</option>
                    <option value="0" <if condition="($_res.status eq 0)">selected='selected'</if>>禁用</option>
                </select>
            </div>
        </div>
        <!--div class="form-item">
            <label class="item-label">排序<span class="check-tips">（值越大排越前面）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="sort" value="{$_res.sort}">
            </div>
        </div-->
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/user_list')}');
    </script>
</block>
